body {
    margin: 0;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
canvas {
  position:absolute;
  z-index: -1;
}

.overlay {
  height:100%;
  width:100%;
  position: absolute;
  z-index: 1;
  background: rgba(255,255,255,0.85);
  padding:1.5em;
  box-sizing:border-box;
}

.container {
  max-width: 90%;
  margin:0 auto;
  display:block;
}

@media (min-width:500px) {
  .container {
    max-width: 75%;
  }
}

@media(max-width:499px) {
  .overlay {
    padding-top:0.25em;
  }
  body {
    font-size:0.9em;
  }
}

button {
  width:75%;
  max-width:100px;
  margin:0 auto;
  display:block;
  height:2.5em;
  border-radius: 1em;
  border:thin solid lightgrey;
  background-color:lightblue;
}
button:hover {
  background-color:cornflowerblue;
  color:white;
}

h1 {
  text-align: center;
  font-weight: normal;
}
h2, h3 {
  font-style: italic;
  font-weight: normal;
}
.small {
  text-align: center;
  font-size: 0.8em;
}

#reload {
  position:absolute;
  z-index: 0;
  right:0;
  margin:1.25em;
}

#win h2 {
  font-style: normal;
  text-align: center;
}